h1{
  color:purple;
  font-weight: normal;
  line-height: 1.1em;
  margin: 0 0 .2em 0;
  font-size: 60px;
  font-style: oblique;
}
.jumbotron {
  min-height : 600px;
  background-size: cover;
  background-attachment: fixed;
  background-color: purple;
  background-image: url("wallpaper.jpg");
}
